<div class="span6">
<h1>About</h1>
<p>
This app was created at <a href="http://railsrumble.com/">Rails Rumble 2012</a>. I personally needed something like this so I decided to create it at this programming competition.
</p>
<h4>Business Model Canvas</h4>
<p>
 The concept of a Business Model Canvas was created by <a href="http://alexosterwalder.com/">Alexander Osterwalder</a>. He also has an amazing book on Business Model Generation.
</p>
<p>
 I (and many others) feel the canvas is a great tool to use for not only exploring new businesses, but also improving existing ones. You don't have to be a profit making organization to use this but can also be used for individual projects.
</p>
<p>
 You don't event have to create canvases for your business, I think its a good exercise to create canvases for existing orgainzations to better understand how businesses work.
</p>
<h4>Developer</h4>
I'm Ibrahim Muhammad, a Software Engineer at <a href="http://ven.io">Venio</a>. You can find more about me on my <a href="http://muhaic.com">website</a>


</div>