<h1>Code Wall</h1>
<h2>Collaborative Business Models</h2>

<div id="home-small-nav">
  About
  Sign Up
</div>

<%= link_to new_canvas_url do %>
  <span class="btn">Start</span>
<% end %>

<div class="home-feature">
	<h3>Business Model Canvas</h3>
</div>

<div class="home-feature">
	<h3>Plan your business or idea</h3>
</div>

<div class="home-feature">
	<h3>Browser and collaborate on open models</h3>
</div>



