// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#home {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: asset-url('monotone-brickwall.jpg', image);
  max-width: 1280px;
  max-height: 800px;
  color: black;
  text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
}

#feature-row{
  position:absolute;
  bottom: 0px;
  max-height: 30%;
  min-height: 30%;
  width: 100%;
  overflow: auto;
}

.home-feature {
  width: 33%;
  float: left;
  min-height: 130px;
  background: rgba(255,255,255,0.6);
}

.padder {
  padding: 10px;
  padding-left: 20px;
}

.padder1 {
  padding: 10px;
  height: 100%;
}

.logo {
  color: #99CC33;
  text-shadow: 0px 0px;
  padding: 30px;
  em {
    font-weight: bold;
    color: white;
  }
}

#home-small-nav {
  padding: 10px;
  position: absolute;
  top: 0px;
  right: 50px;
  background: rgba(255,255,255,0.6);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
}

#vote {
  background: rgba(255,255,255,0.6);
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 40px;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  padding: 10px;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 50px;
  text-align: center;
}

#home-info {
  text-align: center;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background: rgba(255,255,255,0.6);
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  font-weight: bold;
}

a:hover {
  background-color: transparent;
  color: black;
}

#start {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 30px;
  -moz-box-shadow:inset 0px 1px 5px 0px #caefab;
  -webkit-box-shadow:inset 0px 1px 5px 0px #caefab;
  box-shadow:inset 0px 1px 5px 0px #caefab;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #77d42a), color-stop(1, #70c42b) );
  background:-moz-linear-gradient( center top, #77d42a 5%, #70c42b 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77d42a', endColorstr='#70c42b');
  background-color:#77d42a;
  -moz-border-radius:38px;
  -webkit-border-radius:38px;
  border-radius:38px;
  color: rgba(255,255,255,0.8);
  font-family:arial;
  font-size:18px;
  font-weight:bold;
  padding:9px 48px;
  text-decoration:none;
  text-shadow:1px 1px 1px #aade7c;
}.start:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #70c42b), color-stop(1, #77d42a) );
  background:-moz-linear-gradient( center top, #70c42b 5%, #77d42a 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#70c42b', endColorstr='#77d42a');
  background-color:#70c42b;
}.start:active {
  position:relative;
  top:1px;
}
/* This imageless css button was generated by CSSButtonGenerator.com */


#header {
  background: #565656;
}

.logo {
  font-size: 24px;
  .lean {
    color: white;
  }
}

.model {
  
}
