<header id="header">
  <div class="logo">
    <span class="lean">Lean</span>
    <span class="wall">Wall</span>
  </div>
  <div id="home-small-nav">
  <%= link_to 'About', about_url %> | 
  <%= link_to 'Sign In', new_user_session_url %> |
  <%= link_to 'Sign Up', new_user_registration %> 
  </div>
</header>